@media (max-width: 1497px) {
  .bestseller .bestseller_content,
  .like .bestseller_content {
    gap: 20px;
  }
}
@media (max-width: 1451px) {
  .bestseller .bestseller_content,
  .like .bestseller_content {
    justify-content: center;
    gap: 30px;
  }
  .productList_bottom .banner_right figure {
    width: 400px;
  }
}
@media (max-width: 1400px) {
  .navbar .navbar_bottom .menu {
    gap: 80px;
  }
  .banner {
    padding: 150px 110px;
  }
  .banner_right figure {
    width: 700px;
    top: -225px;
  }

  .banner_right figure img {
    width: 100%;
  }
}
@media (max-width: 1350px) {
  .latestNews_content {
    flex-wrap: wrap;
  }
  .featuredProducts_content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .productList_bottom .banner_right figure {
    width: 350px;
  }
  .productList_bottom .banner {
    padding: 50px 90px;
  }
  .productList {
    padding: 75px 90px;
    padding-top: 200px;
  }
  .productList .bestseller .bestseller_content .bestseller_card,
  .like .bestseller .bestseller_content .bestseller_card {
    width: 200px;
  }
}
@media (max-width: 1300px) {
  .navbar .navbar_bottom .menu {
    gap: 70px;
  }
  .discount_card {
    width: 80%;
  }
  .banner_right figure {
    width: 600px;
    top: -200px;
  }
  .banner {
    padding: 130px 110px;
  }
  .productList_bottom .bestseller {
    padding: 50px 70px;
  }
  .cart .cartItem_name figure {
    width: 150px;
  }
  .contactContent {
    flex-direction: column;
  }
}
@media (max-width: 1220px) {
  .banner_right figure {
    width: 400px;
    top: -130px;
  }
  .banner {
    padding: 90px 110px;
  }
  .discount {
    justify-content: space-between;
  }
  .discount_card {
    width: 40%;
  }
  .discount_card img {
    width: 100%;
  }
  .discount_card h3 {
    padding: 20px 30px;
    font-size: 18px;
  }
  .discount_card h2 {
    padding: 20px;
  }
  .discount_card del,
  .discount_card h4 {
    bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .navbar .navbar_bottom .menu {
    gap: 60px;
  }
  .slider h1 {
    font-size: 54px;
  }
  .banner_right figure,
  .productList_bottom .banner_right figure {
    width: 500px;
    top: -150px;
  }
  .banner {
    padding: 100px 10px;
  }
  .productList_bottom .banner {
    padding: 100px 10px;

    width: 100%;
  }
  .productList_bottom {
    gap: 0;
  }
  .productList_sidebar {
    position: absolute;
    left: 0;
    top: 200px;
    background-color: #03a8f43c;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 10;
    height: 100%;
    padding: 20px 30px;
    transition: 0.5s ease-in-out;
  }
  .sidebarClose {
    left: -100%;
    display: none;
  }
  .filterOpen {
    display: block;
  }
  .productList_sidebar .remove {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    color: red;
    padding: 20px 30px;
  }
  .productList_sidebar > div {
    width: 40%;
  }
  .productList_bottom .bestseller .bestseller_content {
    display: flex;
    flex-wrap: wrap;
  }
  .productList .bestseller .bestseller_content .bestseller_card {
    width: 190px;
  }
  .cart .cartItem_name {
    padding-right: 100px;
  }
}

@media (max-width: 1120px) {
  .navbar .navbar_bottom .menu {
    gap: 50px;
  }
  .banner {
    padding: 80px 110px;
  }
  .banner_left h2 {
    font-size: 40px;
  }
  .banner_left p {
    font-size: 18px;
  }
  .banner_right figure {
    width: 450px;
    top: -130px;
  }
  .productList_bottom .bestseller {
    padding: 50px 20px;
  }
  .productList {
    padding: 60px 70px;
    padding-top: 200px;
  }
}
@media (max-width: 1050px) {
  .discount_card h3 {
    padding: 20px 30px;
    font-size: 14px;
  }
  .discount_card h2 {
    padding: 26px;
    font-size: 20px;
  }
  .discount_card del,
  .discount_card h4 {
    bottom: 20px;
  }
  .productList .bestseller .bestseller_content .bestseller_card {
    width: 220px;
  }
  .cart .cartItem_name {
    padding-right: 80px;
    flex-direction: column;
  }
  .cartContent td {
    min-width: none;
  }
  .cart .cartCheck {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
}

@media (max-width: 930px) {
  .hamburger {
    display: flex;
  }
  .hamburger .clicked:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
    transition: 0.5s ease-in-out;
    background-color: #03a9f4;
  }
  .hamburger .clicked:nth-child(2) {
    transform: scale(0.1);
    transition: 0.5s ease-in-out;
    background-color: #03a9f4;
  }
  .hamburger .clicked:nth-child(3) {
    transform: rotate(135deg) translate(-3px, 2px);
    transition: 0.5s ease-in-out;
    background-color: #03a9f4;
  }
  .hamburger .unclicked {
    transform: rotate(0) translate(0);
    transition: 0.5s ease-in-out;
    background-color: #03a9f4;
  }
  .navbar .navbar_bottom .menu a:hover .megamenu {
    display: none;
  }
  .navbar .navbar_bottom .menu {
    flex-direction: column;
    background-color: #33a0ff3b;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40%;
    padding: 30px 0;
    gap: 1px;
  }
  .navbar .navbar_bottom .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
    height: 80px;
  }
  .navbar .navbar_bottom .menu a:hover {
    background-color: #33a0ff42;
  }
  .navbar .navbar_bottom .menu a:active {
    background-color: #33a0ff96;
  }
  .navbar .navbar_bottom .close {
    position: absolute;
    left: -100%;
    transition: 0.3 ease-in;
  }
  .bestseller .bestseller_content .bestseller_card figure .card_hover,
  .like .bestseller_content .bestseller_card figure .card_hover {
    display: flex;
    opacity: 1;
    backdrop-filter: blur(0);
    align-items: flex-end;
    justify-content: flex-end;
  }
  .bestseller .bestseller_content .bestseller_card figure .card_hover i,
  .like .bestseller_content .bestseller_card figure .card_hover i {
    padding: 4px 7px;
    font-size: 24px;
  }
  .productList .bestseller .bestseller_content .bestseller_card {
    width: 200px;
  }
  .productList_bottom .banner_right figure {
    width: 400px;
    top: -110px;
    left: -130px;
  }
  .productList_bottom .banner {
    padding: 70px 30px;
  }
}
@media (max-width: 850px) {
  .cart .cartItem_name {
    padding: 10px 20px;
  }
  .cart .cartItem_name figure {
    width: 120px;
  }

  .navbar {
    padding: 27px 80px;
  }
  .discount {
    padding: 0px 80px;
  }
  .bestseller {
    padding: 120px 80px;
  }
  .slider h1 {
    top: 30%;
  }
  .banner_right figure {
    width: 300px;
    top: -50px;
    left: -200px;
  }
  .banner {
    padding: 20px 80px;
  }
  .discount_card {
    width: 40%;
  }
  .discount_card img {
    width: 100%;
  }
  .discount_card h3 {
    padding: 10px 15px;
    font-size: 12px;
  }
  .discount_card h2 {
    padding: 16px;
  }
  .discount_card del,
  .discount_card h4 {
    bottom: 10px;
  }
  .discount_card h4 {
    left: 65%;
    font-size: 16px;
  }
  .bestseller .bestseller_content .bestseller_card,
  .like .bestseller_content .bestseller_card {
    width: 200px;
    align-items: center;
  }
  .bestseller .bestseller_content .bestseller_card h3,
  .like .bestseller_content .bestseller_card h3 {
    font-size: 14px;
  }
  .bestseller .bestseller_content .bestseller_card .price h5,
  .bestseller .bestseller_content .bestseller_card .price p,
  .bestseller .bestseller_content .bestseller_card .price h6,
  .like .bestseller_content .bestseller_card .price h5,
  .like .bestseller_content .bestseller_card .price p,
  .like .bestseller_content .bestseller_card .price h6 {
    font-size: 12px;
  }
  .searchInput {
    padding: 100px 30px;
  }
  .productList_bottom .banner_right figure {
    width: 350px;
  }
  .searchInput input {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .productList_bottom .banner_right figure {
    width: 300px;
    top: 0;
    left: -150px;
  }
  .productList {
    padding: 0px 40px;
    padding-top: 170px;
  }
  .cartContent th {
    padding: 10px 20px;
  }
  .css-apqrd9-MuiTableBody-root {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .css-1q1u3t4-MuiTableRow-root {
    display: none;
  }
  .cartContent td {
    font-size: 14px;
    min-width: 0px;
  }
  .cart .cartItem_name {
    font-size: 16px;
  }
}
@media (max-width: 710px) {
  .css-1jruifh-MuiStack-root{
    width: 250px !important;
  }
  .contactContent_left figure img {
    width: 80%;
  }
  .contactContent_left,
  .contactContent_right {
    width: 400px;
    height: 500px;
  }
  .contactContent_left > div h3 {
    font-size: 30px;
  }
  .contactContent_left > div {
    left: 40%;
  }
  .contactContent_left figure img {
    left: -24%;
  }
  .contactContent_right > div input {
    width: 100%;
  }
  .contactContent_right {
    padding: 0px 40px;
  }
}
@media (max-width: 685px) {
  .navbar .navbar_top .lang_currensy p {
    font-size: 14px;
  }
  .navbar .navbar_top .account_cart_search .account_item,
  .navbar .navbar_top .account_cart_search .cart_item {
    font-size: 14px;
  }
  .navbar .navbar_top .account_cart_search .items {
    display: none;
  }
  .navbar .navbar_top .account_cart_search .price_item {
    font-size: 14px;
  }
  .bestseller .bestseller_categoryItem p {
    font-size: 18px;
  }
  .css-1jruifh-MuiStack-root{
    position: absolute;
    left: 38%;
    top: 45%;
  }
  .css-1g24dm6-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 12px 10px !important;
  }
  .slider h1 {
    width: 50%;
  }
  .discount {
    display: none;
  }

  .banner_left h2,
  .productList_bottom .banner_left h2,
  .productList_bottom .banner_left p {
    z-index: 9;
  }
  .productList_bottom .banner_right figure {
    width: 250px;
    left: -200px;
  }
  .footer {
    padding: 100px 50px;
  }
  .productList_sidebar > div {
    width: 60%;
  }
  .cartContent table {
    display: none;
  }
  .cartContent_media {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .cartMedia_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    position: relative;
    padding: 10px;
  }
  .remove_item {
    position: absolute;
    top: 50%;
    left: -8%;
  }
  .cartMedia_card figure {
    width: 40%;
    overflow: hidden;
  }
  .cartMedia_card figure img {
    height: 100%;
    width: 100%;
  }
  .cartMedia_cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cartMedia_cardContent h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22262a;
  }
  .cartMedia_cardContent p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #22262a;
  }
}

@media (max-width: 600px) {
  .css-1jruifh-MuiStack-root{
    width: 200px !important;
    left: 41%;
  }
  .css-1g24dm6-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px 8px !important;
  }
  .slider h1 {
    width: 70%;
    top: 20%;
  }
  .bestseller {
    padding: 30px 50px;
  }
  .whyUs {
    flex-direction: column;
    gap: 20px;
    padding: 100px 40px;
  }
  .featuredProducts {
    padding: 0 30px;
  }
  .latestNews {
    padding: 0 40px;
  }
}
@media (max-width: 550px) {
  .css-1jruifh-MuiStack-root{
    width: 150px !important;
    left: 45%;
  }
  .bestseller .bestseller_categoryItem {
    gap: 40px;
  }
  .bestseller .bestseller_content,
  .like .bestseller_content {
    gap: 20px;
  }
  .bestseller .bestseller_content .bestseller_card,
  .like .bestseller_content .bestseller_card {
    width: 180px;
  }
  .banner {
    padding: 20px 40px;
  }
  .banner_left h2 {
    width: 100%;
  }
  .footer_icon p {
    width: 100%;
  }
  .cart .cartCheck {
    padding: 0px 50px;
  }
  .cartMedia_cardContent h3 {
    font-size: 16px;
  }
  .cartMedia_cardContent p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .contactContent_right > div input {
    font-size: 12px;
    padding: 14px 17px;
  }
  .contactContent_left > div p {
    padding-top: 10px;
  }
  .contactContent_left figure img {
    left: 0;
    top: 44%;
  }
}
@media (max-width: 485px) {
  .navbar {
    padding: 20px 40px;
  }
  .bestseller .bestseller_categoryItem p {
    font-size: 14px;
  }
  .bestseller h1 {
    font-size: 28px;
  }
  .bestseller .bestseller_categoryItem {
    gap: 20px;
  }
  .bestseller .bestseller_content .bestseller_card,
  .like .bestseller_content .bestseller_card {
    width: 160px;
  }
  .cartMedia_card {
    gap: 10px;
  }
  .cartMedia_card figure {
    width: 30%;
  }
  .remove_item {
    left: -10%;
  }
  .cartCheck .checkItem button {
    padding: 12px 0px;
    width: 60%;
  }
  .cart .cartCheck {
    align-items: center;
  }
}
@media (max-width: 440px) {
  .navbar {
    gap: 10px;
  }
  .hamburger span {
    width: 30px;
    height: 4px;
  }
  .hamburger .clicked:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }
  .hamburger .clicked:nth-child(2) {
    opacity: 0;
  }
  .home {
    padding-top: 125px;
  }
  .slider figure {
    height: calc(100vh - 125px);
  }
  .navbar .navbar_bottom .menu {
    width: 80%;
  }
  .navbar .navbar_top .account_cart_search .cart_item span {
    font-size: 10px;
    /* padding: 1px 3px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .latestNews h1,
  .featuredProducts h1 {
    font-size: 28px;
  }
  .slider h1 {
    left: 40px;
  }
  .bestseller .bestseller_content .bestseller_card,
  .like .bestseller_content .bestseller_card {
    width: 140px;
  }
  .bestseller .bestseller_content .bestseller_card h3,
  .like .bestseller_content .bestseller_card h3 {
    font-size: 13px;
  }
  .bestseller .bestseller_content .bestseller_card .price h5,
  .bestseller .bestseller_content .bestseller_card .price p,
  .bestseller .bestseller_content .bestseller_card .price h6,
  .like .bestseller_content .bestseller_card .price h5,
  .like .bestseller_content .bestseller_card .price p,
  .like .bestseller_content .bestseller_card .price h6 {
    font-size: 10px;
  }
  .css-iljtu2-MuiRating-root {
    font-size: 18px !important;
  }
  .bestseller .bestseller_content .bestseller_card figure .card_hover i,
  .like .bestseller_content .bestseller_card figure .card_hover i {
    font-size: 18px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whyUs_card p {
    font-size: 14px;
    width: 80%;
  }
  .latestNewsCard_content h5 {
    font-size: 16px;
  }
  .latestNewsCard_content p,
  .featuredProductsCard_content p {
    font-size: 14px;
  }
  .latestNewsCard_content i {
    font-size: 12px;
  }
  .featuredProductsCard {
    align-items: center;
    gap: 10px;
  }
  .featuredProductsCard > figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  .featuredProductsCard > figure > img {
    width: 100%;
  }
  .card_price h5,
  .card_price del {
    font-size: 14px;
  }
  .searchInput button {
    padding: 10px 15px;
    font-size: 14px;
  }
  .searchInput input {
    padding: 10px 20px;
    font-size: 14px;
  }
  .footer {
    padding: 40px;
  }
  .footer_top {
    padding-bottom: 20px;
  }
  .footer_bottom {
    flex-direction: column;
    gap: 20px;
  }
  .footer_bottom p {
    font-size: 10px;
  }
  .footer_top h5 {
    font-size: 10px;
  }
  .footer_top > div {
    gap: 5px;
  }
  .footer_icon p,
  .footer_top p {
    font-size: 8px;
  }
  .cart .cartCheck {
    padding: 20px 40px;
  }
  .contactContent_left,
  .contactContent_right {
    width: 300px;
    height: 400px;
  }
  .contactContent_right > div #message {
    height: 130px;
  }
  .contactContent_left figure img {
    top: 47.5%;
  }
  .searchInput input {
    width: 200px;
  }
}
@media (max-width: 405px) {
  .css-1g24dm6-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 6px 4px !important;
    line-height: 12px !important;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    top: 5px !important;
  }
  .css-1jruifh-MuiStack-root{
    top: 30%;
  }
  .like{
    padding: 40px 30px;
    padding-top: 130px;
  }

  .productList_sidebar > div {
    width: 80%;
  }
  .navbar .navbar_top .account_cart_search {
    gap: 20px;
  }
  .navbar .navbar_bottom .menu a {
    font-size: 18px;
    height: 60px;
  }
  .bestseller {
    padding: 30px;
  }
  .bestseller .bestseller_categoryItem p {
    padding-top: 10px;
  }
  .bestseller .bestseller_content .bestseller_card,
  .like .bestseller_content .bestseller_card {
    width: 130px;
  }
  .bestseller .bestseller_content .bestseller_card h3,
  .like .bestseller_content .bestseller_card h3 {
    font-size: 10px;
  }
  .css-iljtu2-MuiRating-root {
    font-size: 14px !important;
  }
  .bestseller .bestseller_content .bestseller_card .price h6,
  .like .bestseller_content .bestseller_card h6 {
    padding-bottom: 0;
    line-height: 100%;
  }
  .bestseller .bestseller_content .bestseller_card .price h5,
  .bestseller .bestseller_content .bestseller_card .price p,
  .bestseller .bestseller_content .bestseller_card .price h6,
  .like .bestseller_content .bestseller_card .price h5,
  .like .bestseller_content .bestseller_card .price p,
  .like .bestseller_content .bestseller_card .price h6 {
    font-size: 8px;
  }
  .latestNews,
  .latestNews_content,
  .featuredProducts {
    gap: 30px;
  }
  .latestNews_content {
    padding-bottom: 50px;
  }
  .latestNewsCard figure {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .whyUs {
    padding: 50px 30px;
  }
  .cartCheck .checkItem > div p {
    font-size: 12px;
  }
  .cartCheck .checkItem > div h3 {
    font-size: 20px;
  }
  .latestNewsCard figure img {
    width: 100%;
  }
  .cartCheck .checkItem {
    width: 300px;
  }
}
@media (max-width: 370px) {
  .navbar {
    padding: 15px 30px;
  }
  .navbar .navbar_top .account_cart_search {
    gap: 15px;
  }
  .home {
    padding-top: 113px;
    padding-bottom: 0;
  }
  .slider figure {
    height: calc(100vh - 113px);
  }
  .bestseller .bestseller_content .bestseller_card,
  .like .bestseller_content .bestseller_card
   {
    width: 120px;
  }
  .bestseller .bestseller_content .bestseller_card h3,
  .like .bestseller_content .bestseller_card h3 {
    font-size: 8px;
  }
  .whyUs,
  .searchInput {
    padding: 50px 30px;
  }
  .cartCheck .voucherCode label {
    padding: 10px 15px;
  }
  .cartCheck .voucherCode input {
    padding: 8px 15px;
  }
  .cart {
    padding: 10px 20px;
  }
}
@media (max-width: 333px) {
  .navbar .navbar_top .account_cart_search {
    gap: 10px;
  }
}
